<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Java Week 3 - SpringBoot</title>
</head>
<body>
<a href="/">Home</a>
<form action="addMovie" method="POST">
    <p>Movie Title: <input type="text" name="movieTitle" /></p>
    <p>Maturity Rating: <input type="text" name="maturityRating"/></p>
    <p>Genre: <input type="text" name="genre"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>